site_name: TW onboarding docs
site_author: Seqera
site_url: http://0.0.0.0:8000
repo_name: tw-onboarding-mkdocs
repo_url: https://github.com/llewellyn-sl/tw-onboarding-mkdocs
edit_uri: https://github.com/llewellyn-sl/tw-onboarding-mkdocs/tree/master/docs
docs_dir: .

site_dir: public

plugins:
  - social
  - search
  - same-dir
  - table-reader
  - markdownextradata:
      data: /_data

theme:
  language: en
  name: material
  custom_dir: overrides
  palette:
    scheme: default
    primary: white
  favicon: _favicons/favicon.ico
  features:
  - navigation.instant
  - navigation.tracking
  - navigation.top
  - search.suggest
  - search.highlight
  - search.share
  font: false


extra_css:
- stylesheets/fonts.css
- stylesheets/overrides.css
- stylesheets/extra.css   # 2022-04-01 Added by Graham to get more space above bullets.

extra:
  # generator: false
  homepage: /

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

markdown_extensions:
- toc:
    permalink: '#'
- attr_list
- admonition
- pymdownx.arithmatex:
    generic: true
- pymdownx.details
- pymdownx.superfences
- pymdownx.tabbed:
    alternate_style: true
- pymdownx.highlight:
    linenums: true
- pymdownx.snippets


nav:
- Tower docs MkDocs project: tower-docs/mkdocs.md
- Tower docs publish: tower-docs/publish.md
- Tower docs style: tower-docs/style.md
- Tower Enterprise release checklist: tower-docs/tower-release-checklist.md 
- TW onboarding reference: onboarding-checklist/checklist.md

copyright: Copyright &copy; 2019 - 2023 Seqera Labs, S.L.
